.CompactCard {
  display: flex;
  flex: 1;
  height: 7rem !important;
  border-radius: 1rem;
  color: rgb(0, 0, 0);
  padding: 1rem;
  position: relative;
  cursor: pointer;
  justify-content: space-between;
}
.card-icon {
  font-size: 21px;
}
.card-content {
  position: relative;
  top: 2rem;
}
