.Main_login_container {
  background-color: #000000;
  display: grid;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  grid-template-columns: 50% 50%;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.board {
  position: absolute;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;

  color: #ffffff;
}
.right {
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  top: 0px;
  background: #f5f5f5;
}
.sign_in {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main_div {
  width: 365px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  border-radius: 20px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  color: #000000;
}
.Sign_in_text {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 16px;
}
.label {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.main_div .social_icons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.social_icons a {
  display: block;
  height: 45px;
  width: 100%;
  line-height: 45px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s linear;
}
.social_icons a span {
  margin-left: 5px;
  font-size: 18px;
}
.social_icons a:first-child {
  margin-right: 5px;
  background: #000000;
}

.social_icons a:last-child {
  margin-left: 5px;
  background: #000000;
}

form {
  margin-top: 25px;
}
form .input_box {
  height: 50px;
  width: 100%;
  position: relative;
  margin-top: 15px;
}
.input_box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: 1px solid #f5f5f5;
  background: #f5f5f5;
  border-radius: 10px;
  padding-left: 45px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.input_box input:focus {
  border-color: #346bd4;
}
.input_box .icon {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: grey;
}
form .option_div {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.option_div .check_box {
  display: flex;
  align-items: center;
}
.option_div span {
  margin-left: 5px;
  font-size: 16px;
  color: #333;
}

.option_div .forget_div a {
  font-size: 16px;
  color: #346bd4;
  font-weight: 400;
}
.button input {
  padding-left: 0;
  background: #000000;
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s linear;
}

form .sign_up {
  text-align: center;
  margin-top: 25px;
}

form a {
  text-decoration: none;
}
form a:hover {
  text-decoration: underline;
}
.sign_up {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .Main_login_container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }
  .left {
    display: none;
  }
}
