* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;

  margin: auto;
}
nav {
  position: sticky;
  top: 0;
  border-radius: 30px;
  left: 0;
  bottom: 0;
  width: 280px;
  background: #000000;
  height: 100vh;
}
.navbar {
  width: 80%;
  margin: 0 auto;
}

.logo {
  margin: 2rem 0 1rem 0;
  padding-bottom: 3rem;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
}
.logo h1 {
  margin-left: 1rem;
  font-size: 36px;
}

ul {
  margin: 0 auto;
}
li {
  padding-bottom: 2rem;
}
li a {
  font-size: 16px;
  color: rgb(145, 140, 140);
}
li a :hover {
  color: rgb(255, 255, 255);
}
.nav-item {
  display: flex;
}
nav i {
  width: 50px;
  font-size: 18px;
  text-align: center;
}

.help {
  position: absolute;
  bottom: 80px;
}

.logout {
  position: absolute;
  bottom: 40px;
}
.icons {
  top: 166.46px;
  left: 50px;
  margin-right: 18px;
  width: 17.54px;
  height: 17.54px;
}
@media (min-width: 992px) {
  /* Adjust the breakpoint to target larger screens */
  nav {
    height: 96vh;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  nav {
    height: 136vh;
  }
}
